@charset "UTF-8";
* {
  position: relative;
}


.footer {
  height: 25vh;
  background-color: #f9dccd;
  bottom: 0;
}
.footer .icon {
  width: 40vw;
  position: absolute;
  bottom: 0;
  left: 50vw;
  transform: translate(-50%,0%);
}