html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h2.landing-page-class{
  text-align: center;
  font-size: 3.7vw;
  margin-top: 10vh;
  color: rgb(255,255,255, 0.8);
}
/* screen width higher than 750px */
@media screen and (min-width: 750px) {
  h2.landing-page-class{
    margin-top: 20vh;
  }
}

p.landing-page-class {
  text-align: center;
  font-size: 2.7vw;
  color: rgb(255,255,255, 0.8);
}
/* screen width higher than 750px */
@media screen and (min-width: 750px) {
}

span.double-arrow-down {
  font-size: 4.5vw;
  opacity: 0.8;
}

div.sticky-navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
}

div.container-page-view {
  width: 100%;
  background-color: #f9dccd;
  position: relative;
}

/* screen width higher than 750px */
@media screen and (min-width: 750px) {
  div.container-page-view {
    height: 100vh;
    width: 100%;
    background-color: #f9dccd;
    position: relative;
  }
}

div.position-absolute-bottom {
  position: absolute;
  background-color: #f9dccd;
  bottom: 0;
}

div.app-style {
  padding-top: 10vh;
  background-color: #f9dccd;
}

/* screen width higher than 750px */
@media screen and (min-width: 750px) {
  div.app-style {
    padding-top: 10vh;
    min-height: 100vh;
    background-color: #f9dccd;
  }
}

.landing-page-image {
  height: 100vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

.dresscode-image {
  height: 30vh;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-top: 5vh;
}

.present-image {
  height: 50vh;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-top: 5vh;
}

/* screen width higher than 750px */
@media screen and (min-width: 750px) {
  .landing-page-image {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.cormorant-sc{
  font-family: "Cormorant SC", sans-serif;
}

@media screen and (max-width: 970px) {
  .custom-hide-small{display:none!important}
}

.changing-font-size{
  font-size:1.5vw
}

/* screen width higher than 750px */
@media screen and (min-width: 750px) {
  .changing-font-size{
    font-size:1.05vw
  }
}