html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h2.landing-page-class{
  text-align: center;
  font-size: 3.7vw;
  margin-top: 10vh;
  color: rgb(255,255,255, 0.8);
}
/* screen width higher than 750px */
@media screen and (min-width: 750px) {
  h2.landing-page-class{
    margin-top: 20vh;
  }
}

p.landing-page-class {
  text-align: center;
  font-size: 2.7vw;
  color: rgb(255,255,255, 0.8);
}
/* screen width higher than 750px */
@media screen and (min-width: 750px) {
}

span.double-arrow-down {
  font-size: 4.5vw;
  opacity: 0.8;
}

div.sticky-navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
}

div.pink-container-page-view {
  height: 100vh;
  width: 100%;
  background-color: #FFCCCC;
  position: relative;
}

div.position-absolute-bottom {
  position: absolute;
  background-color: #FFCCCC;
  bottom: 0;
}

div.app-style {
  padding-top: 10vh;
  min-height: 100vh;
  background-color: #FFCCCC;
}

.landing-page-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}