@import url("https://fonts.googleapis.com/css?family=Silkscreen");

.sTD-head-text{
    padding-top: 1vh;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-size: 5vw;
    margin: 0;
    color: #fff8e0;
}

.sTD-body-text{
    padding-top: 10vh;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-size: 4vw;
    margin: 0;
    color: #fff8e0;
}

/* screen width higher than 750px */
@media screen and (min-width: 750px) {
    .sTD-body-text{
        padding-top: 10vh;
        text-align: center;
        font-family: "Silkscreen", sans-serif;
        font-size: 1.9vw;
        margin: 0;
        color: #fff8e0;
    }
  }

.sTD-text-container {
    width: 90vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

/* screen width higher than 750px */
@media screen and (min-width: 750px) {
    .sTD-text-container {
        width: 60vw;
        margin-left: 50%;
        transform: translateX(-50%);
      }
  }