h2.test-class {
  font-size: 3.2vw;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}
/* screen width higher than 750px */
@media screen and (min-width: 750px) {
  h2.test-class {
    margin-left: 70px; 
  }
}

p.test-class {
  font-size: 2.2vw;
  margin-bottom: 10px;
  color: white;
}


